<section class="tab {{tab.cssClass}}"
    data-tab="{{tab.id}}"
    data-group="{{tab.group}}">
    {{> "systems/vtm5e/display/shared/actors/parts/core-features.hbs"}}
    <div class="flexcol -gap-sm">
        <div class="flexrow -gap-sm">
            <div class="flexcol detail-row">
                <label class="field-header">
                    {{localize "WOD5E.BiographyList.Concept"}}
                </label>
                <input
                    type="text"
                    name="system.headers.concept"
                    value="{{concept}}"
                    placeholder="{{localize 'WOD5E.BiographyList.Concept'}}" />
            </div>
            <div class="flexcol detail-row">
                <label class="field-header">
                    {{localize "WOD5E.BiographyList.Chronicle"}}
                </label>
                <input
                    type="text"
                    name="system.headers.chronicle"
                    value="{{chronicle}}"
                    placeholder="{{localize 'WOD5E.BiographyList.Chronicle'}}" />
            </div>
        </div>
        <div class="flexrow -gap-sm">
            <div class="flexcol detail-row">
                <div class="field-header">
                    {{localize "WOD5E.BiographyList.ChronicleTenets"}}
                </div>
                <prose-mirror
                    name="system.headers.tenets"
                    value="{{tenets}}"
                    toggled="true"
                    compact="true">
                    {{{enrichedTenets}}}
                </prose-mirror>
            </div>
            <div class="flexcol detail-row">
                <div class="field-header">
                    {{localize "WOD5E.BiographyList.History"}}
                </div>
                <prose-mirror
                    name="system.biography"
                    value="{{biography}}"
                    toggled="true"
                    compact="true">
                    {{{enrichedBiography}}}
                </prose-mirror>
            </div>
        </div>
</section>
