<section class="tab {{tab.cssClass}}"
    data-tab="{{tab.id}}"
    data-group="{{tab.group}}">
    {{#if groupMembers}}
        <div class="items-list">
            {{#each groupMembers as |member id|}}
                <div class="item group-item">
                    <div class="item-image" style="background-image: url('{{member.img}}')"></div>
                    <div class="item-name">
                        {{member.name}}
                    </div>
                    <div class="flexrow -gap-sm group-stats">
                        <div class="flexcol -gap-base">
                            <div class="flexrow detail-row">
                                <div class="field-header">
                                    {{localize "WOD5E.Health"}}
                                </div>
                                <div class="resource-counter"
                                    data-states="/:superficial,x:aggravated"
                                    data-max="{{member.system.health.max}}"
                                    data-superficial="{{member.system.health.superficial}}"
                                    data-aggravated="{{member.system.health.aggravated}}">
                                    {{#numLoop member.system.health.max}}
                                        <span class="resource-counter-step"
                                            data-action="squareCounterChange"
                                            data-index="{{this}}"
                                            data-state=""></span>
                                    {{/numLoop}}
                                </div>
                                {{#ifeq member.system.activeForm "crinos"}}
                                    <div class="resource-counter"
                                        data-states="/:superficial,x:aggravated"
                                        data-max="{{member.system.crinosHealth.max}}"
                                        data-superficial="{{member.system.crinosHealth.superficial}}"
                                        data-aggravated="{{member.system.crinosHealth.aggravated}}">
                                        {{#numLoop member.system.crinosHealth.max}}
                                            <span class="resource-counter-step"
                                            data-action="squareCounterChange"
                                            data-index="{{this}}"
                                            data-state=""></span>
                                        {{/numLoop}}
                                    </div>
                                {{/ifeq}}
                            </div>
                            <div class="flexrow detail-row">
                                <div class="field-header">
                                    {{localize "WOD5E.Willpower"}}
                                </div>
                                <div class="resource-counter"
                                    data-states="/:superficial,x:aggravated"
                                    data-max="{{member.system.willpower.max}}"
                                    data-superficial="{{member.system.willpower.superficial}}"
                                    data-aggravated="{{member.system.willpower.aggravated}}">
                                        {{#numLoop member.system.willpower.max}}
                                            <span class="resource-counter-step"
                                                data-action="squareCounterChange"
                                                data-index="{{this}}"
                                                data-state=""></span>
                                        {{/numLoop}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-level">
                        {{generateLocalizedLabel member.type 'actortypes'}}
                    </div>
                    <div class="item-controls">
                        <a class="item-control"
                            data-action="openActorSheet"
                            data-uuid="{{member.uuid}}"
                            title="{{localize 'WOD5E.OpenSheet'}}">
                            <i class="fas fa-user"></i>
                        </a>
                        {{#unless actor.limited}}
                            <a class="item-control"
                                data-action="removeMember"
                                data-uuid="{{member.uuid}}"
                                title="{{localize 'WOD5E.RemoveFromGroup'}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        {{/unless}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <h2 class="flex-center">{{localize "WOD5E.NoGroupMembers"}}</h2>
    {{/if}}
</section>
