<header class="item-header">
    <div class="header-fields">
        <input class="itemname"
            name="name"
            type="text"
            value="{{name}}"
            placeholder="{{localize 'WOD5E.Name'}}"/>
        <div class="flexrow -gap-sm">
            <div class="form-group stacked">
                <label>
                    {{localize "WOD5E.Level"}}
                </label>
                <div class="form-fields">
                    <input
                        name="system.level"
                        value="{{level}}"
                        type="number"
                        min="0"
                        max="5"/>
                </div>
            </div>
            <div class="form-group stacked">
                <label>
                    {{localize 'WOD5E.WTA.RageCost'}}
                </label>
                <div class="form-fields">
                    <input
                        name="system.cost"
                        type="number"
                        value="{{cost}}"
                        placeholder="0"/>
                </div>
            </div>
            <div class="form-group stacked">
                <label>
                    {{localize 'WOD5E.WTA.WillpowerCost'}}
                </label>
                <div class="form-fields">
                    <input
                        name="system.willpowercost"
                        type="number"
                        value="{{willpowercost}}"
                        placeholder="0"/>
                </div>
            </div>
        </div>
    </div>
</header>
