<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="modifiers-list">
        {{#each bonuses as |bonus key|}}
            <div class="modifier">
                <div class="flexrow field-header">
                    <label class="flex1">{{bonus.source}}</label>
                    <a class="item-control edit-bonus"
                        data-action="editModifier"
                        title="Edit bonus"
                        data-uwu="WWWWW"
                        data-bonus="{{key}}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="item-control delete-bonus"
                        data-action="deleteModifier"
                        title="Delete bonus"
                        data-bonus="{{key}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
                <div class="flexcol -gap-base">
                    <div class="form-group">
                        <label>{{localize "WOD5E.Value"}}</label>
                        <input class="input-value"
                            name="value"
                            type="number"
                            value="{{bonus.value}}"
                            disabled="true"/>
                    </div>
                    <div class="form-group">
                        <label>{{localize "WOD5E.Modifier.Selectors"}}</label>
                        <input class="modifier-selectors"
                            name="paths"
                            type="text"
                            value="{{splitArray bonus.paths}}"
                            placeholder="{{localize 'WOD5E.None'}}"
                            disabled="true"/>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <hr>
    <button class="add-bonus"
        data-action="addModifier">
        {{localize 'WOD5E.Modifier.AddNewSpecialty'}}
    </button>
</section>
