<div class="modifier flexcol -gap-sm">
    <div class="field-header">
        <input id="modifierSource"
            type="text"
            value="{{bonus.source}}"
            placeholder="{{localize 'WOD5E.Modifier.NewSpecialty'}}"/>
    </div>
    <div class="flexcol -gap-base">
        <div class="form-group">
            <label>{{localize "WOD5E.Value"}}</label>
            <input class="input-value"
                id="modifierValue"
                type="number"
                value="{{bonus.value}}"/>
        </div>
        <div class="form-group">
            <label>{{localize "WOD5E.Modifier.Selectors"}}</label>
            <input
                type="text"
                id="modifier"
                value="{{splitArray bonus.paths}}"/>
        </div>
    </div>
    <hr>
</div>
