<div class="header-info-group">
    <div class="flexrow header-details-edit">
        <span>
            <input
                type="number"
                name="system.generaldifficulty.strongest"
                value="{{generaldifficulty.strongest}}"
                data-dtype="Number"/>
        </span>
        <span>&#8226;</span>
        <span>
            <input
                type="number"
                name="system.generaldifficulty.normal"
                value="{{generaldifficulty.normal}}"
                data-dtype="Number"/>
        </span>
    </div>
    <div class="flexrow header-details">
        <span>
            <a class="system-rollable"
                data-action="roll"
                data-use-absolute-value="true"
                data-absolute-value="{{x2 generaldifficulty.strongest}}">
                {{localize 'WOD5E.SPC.Strongest'}}
            </a>
            {{generaldifficulty.strongest}}
        </span>
        <span>&#8226;</span>
        <span>
            <a class="system-rollable"
                data-action="roll"
                data-use-absolute-value="true"
                data-absolute-value="{{x2 generaldifficulty.normal}}">
                {{localize 'WOD5E.SPC.Normal'}}
            </a>
            {{generaldifficulty.normal}}
        </span>
    </div>
</div>
