<div class="flexcol -gap-base">
    <div class="subtle-header">
        <div class="field-header">
            {{localize "WOD5E.SPC.StandardDicePools"}}
        </div>
    </div>
    <div class="stats-list attributes">
        <div class="flexrow attribute">
            <label class="resource-label rollable"
                for="Physical"
                data-action="roll"
                data-use-absolute-value="true"
                data-absolute-value="{{standardPools.physical.value}}"
                data-label="{{localize 'WOD5E.SPC.Physical'}}"
                data-selectors="physical"
                {{#if noAdvancedDice}}data-disable-advanced-dice="true"{{/if}}>
                {{localize 'WOD5E.SPC.Physical'}}
            </label>
            {{#if locked}}
                <div class="resource-value"
                    data-value="{{standardPools.physical.value}}">
                    {{#numLoop standardPools.physical.value}}
                        <span class="resource-value-step"
                            data-index="{{this}}"></span>
                    {{/numLoop}}
                </div>
            {{else}}
                <input class="resource-value"
                    type="number"
                    name="system.standarddicepools.physical.value"
                    value="{{standardPools.physical.value}}"
                    data-dtype="Number"/>
            {{/if}}
        </div>
        <div class="flexrow attribute">
            <label class="resource-label rollable"
                for="Social"
                data-action="roll"
                data-use-absolute-value="true"
                data-absolute-value="{{standardPools.social.value}}"
                data-label="{{localize 'WOD5E.SPC.Social'}}"
                data-selectors="social"
                {{#if noAdvancedDice}} data-disable-advanced-dice="true"{{/if}}>
                {{localize 'WOD5E.SPC.Social'}}
            </label>
            {{#if locked}}
                <div class="resource-value"
                    data-value="{{standardPools.social.value}}">
                    {{#numLoop standardPools.social.value}}
                        <span class="resource-value-step"
                            data-index="{{this}}"></span>
                    {{/numLoop}}
                </div>
            {{else}}
                <input class="resource-value"
                    type="number"
                    name="system.standarddicepools.social.value"
                    value="{{standardPools.social.value}}"
                    data-dtype="Number"/>
            {{/if}}
        </div>
        <div class="flexrow attribute">
            <label class="resource-label rollable"
                for="Mental"
                data-action="roll"
                data-use-absolute-value="true"
                data-absolute-value="{{standardPools.mental.value}}"
                data-label="{{localize 'WOD5E.SPC.Mental'}}"
                data-selectors="mental"
                {{#if noAdvancedDice}} data-disable-advanced-dice="true"{{/if}}>
                {{localize 'WOD5E.SPC.Mental'}}
            </label>
            {{#if locked}}
                <div class="resource-value"
                    data-value="{{standardPools.mental.value}}">
                    {{#numLoop standardPools.mental.value}}
                        <span class="resource-value-step"
                            data-index="{{this}}"></span>
                    {{/numLoop}}
                </div>
            {{else}}
                <input class="resource-value"
                    type="number"
                    name="system.standarddicepools.mental.value"
                    value="{{standardPools.mental.value}}"
                    data-dtype="Number"/>
            {{/if}}
        </div>
    </div>
</div>
