<div class="tab blood" data-group="primary" data-tab="blood">
    <div class="resource flexrow grid grid-3col">
        <div class="flex-group-center no-border">
            <label class="resource-label">{{localize "WOD5E.VTM.Sire"}}</label>
            <input type="text" name="system.headers.sire" value="{{actor.system.headers.sire}}" placeholder="{{localize 'WOD5E.VTM.Sire'}}" />
        </div>

    </div>
    <div class="resource flexrow grid grid-2col">


    </div>
    <div class="resource flexrow grid grid-2col">
        <div class="flex-group-center">
            <label class="resource-label">{{localize "WOD5E.VTM.BloodSurge"}}</label>
            <p>{{lookup blood_potency_text "surge"}}</p>
        </div>
        <div class="flex-group-center">
            <label class="resource-label">{{localize "WOD5E.VTM.MendAmount"}}</label>
            <p>{{lookup blood_potency_text "mend"}}</p>
        </div>
        <div class="flex-group-center">
            <label class="resource-label">{{localize "WOD5E.VTM.PowerBonus"}}</label>
            <p>{{lookup blood_potency_text "power"}}</p>
        </div>
        <div class="flex-group-center">
            <label class="resource-label">{{localize "WOD5E.VTM.RouseReRoll"}}</label>
            <p>{{lookup blood_potency_text "rouse"}}</p>
        </div>
        <div class="flex-group-center">
            <label class="resource-label">{{localize "WOD5E.VTM.FeedingPenalty"}}</label>
            <p>{{lookup blood_potency_text "feeding"}}</p>
        </div>
        <div class="flex-group-center">
            <label class="resource-label">{{localize "WOD5E.VTM.BaneSeverity"}}</label>
            <p>{{lookup blood_potency_text "bane"}}</p>
        </div>
        <div class="flex-group-center">
            <div class="flex-center">
                <label class="resource-label">{{localize "WOD5E.VTM.ClanBane"}}</label>
            </div>
            <div class="description-content">
                {{editor enrichedBane target="system.headers.bane" button=true editable=editable}}
            </div>
        </div>
    </div>
</div>
