<div class="header-info-group">
    <div class="flexrow header-details-edit">
        <span>
            {{clan.name}}
            <a class="item-control"
                data-action="itemEdit"
                data-item-id="{{clan.id}}">
                <i class="fa-solid fa-edit"></i>
            </a>
        </span>
        <span>&#8226;</span>
        <span>
            {{predator.name}}
            <a class="item-control"
                data-action="itemEdit"
                data-item-id="{{predator.id}}">
                <i class="fa-solid fa-edit"></i>
            </a>
        </span>
    </div>
    <div class="flexrow header-details">
        <span>{{clan.name}}</span>
        <span>&#8226;</span>
        <span>{{predator.name}}</span>
    </div>
</div>
