<header class="actor-header">
    <div class="flexrow header-row-top">
        {{> "systems/vtm5e/display/shared/actors/parts/header-image.hbs"}}
        <div class="flexcol">
            {{> "systems/vtm5e/display/shared/actors/parts/header-name.hbs"}}
            {{#if generalDifficultyEnabled}}
                {{> "systems/vtm5e/display/shared/actors/parts/spc/generaldifficulty.hbs"}}
            {{/if}}
        </div>
    </div>
    <div class="flexrow header-row-bottom">
        <div class="flexcol">
            {{> "systems/vtm5e/display/shared/actors/parts/health.hbs"}}
            {{> "systems/vtm5e/display/shared/actors/parts/willpower.hbs"}}
        </div>
        <div class="flexcol">
            {{#ifeq currentActorType 'vampire'}}
                {{> "systems/vtm5e/display/shared/actors/parts/spc/blood-potency.hbs"}}
                {{> "systems/vtm5e/display/vtm/actors/parts/hunger.hbs"}}
            {{/ifeq}}
            {{#ifeq currentActorType 'hunter'}}
                {{> "systems/vtm5e/display/htr/actors/parts/despair.hbs"}}
            {{/ifeq}}
            {{#ifeq currentActorType 'werewolf'}}
                {{> "systems/vtm5e/display/wta/actors/parts/rage-value.hbs"}}
            {{/ifeq}}
            {{#ifeq currentActorType 'spirit'}}
                <div class="field-section">
                    <div class="flexcol">
                        <div class="flexcol flex-center">
                            <a class="field-header flexrow resource-label rollable" for="{{localize 'WOD5E.WTA.Power'}}" data-action="roll" data-use-absolute-value="true"
                                data-absolute-value="{{power.value}}" data-label="{{localize 'WOD5E.WTA.Power'}}"
                                {{#if noAdvancedDice}} data-disable-advanced-dice="true"{{/if}}>
                                {{localize 'WOD5E.WTA.Power'}}
                                <i class="fa-solid fa-dice-d10"></i>
                            </a>
                            {{#if locked}}
                                <div class="resource stat-resource-background">
                                    {{power.value}}
                                </div>
                            {{else}}
                                <input type="number" name="system.power.value" value="{{power.value}}" data-dtype="Number"/>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/ifeq}}
        </div>
    </div>
</header>
