<section class="tab {{tab.cssClass}}"
    data-tab="{{tab.id}}"
    data-group="{{tab.group}}">
    <div class="flexcol -gap-sm">
        <div class="subtle-header">
            <span>
                {{localize 'WOD5E.BiographyList.Details'}}
            </span>
            <hr />
        </div>
        {{> "systems/vtm5e/display/shared/actors/parts/core-details.hbs"}}
        {{#ifeq currentActorType 'vampire'}}
            <div class="flexrow -gap-sm">
                <div class="flexrow -gap-sm">
                    <div class="flexcol detail-row">
                        <label class="field-header">
                            {{localize 'WOD5E.VTM.Generation'}}
                        </label>
                        <input
                            type="text"
                            name="system.headers.generation"
                            value="{{generation}}"
                            placeholder="{{localize 'WOD5E.VTM.Generation'}}"/>
                    </div>
                </div>
                <div class="flexrow -gap-sm">
                    <div class="flexcol detail-row">
                        <label class="field-header">
                            {{localize 'WOD5E.VTM.Sire'}}
                        </label>
                        <input
                            type="text"
                            name="system.headers.sire"
                            value="{{sire}}"
                            placeholder="{{localize 'WOD5E.VTM.Sire'}}" />
                    </div>
                </div>
            </div>
        {{/ifeq}}
        <div class="flexrow -gap-sm">
            <div class="flexcol detail-row">
                <label class="field-header">
                    {{localize "WOD5E.BiographyList.Age"}}
                </label>
                <input
                    type="text"
                    name="system.bio.age.trueage"
                    value="{{bio.age.trueage}}" />
            </div>
            {{#ifeq currentActorType 'vampire'}}
                <div class="flexcol detail-row">
                    <label class="field-header">
                        {{localize "WOD5E.BiographyList.ApparentAge"}}
                    </label>
                    <input
                        type="text"
                        name="system.bio.age.apparent"
                        value="{{bio.age.apparent}}" />
                </div>
            {{/ifeq}}
        </div>
        <div class="flexrow -gap-sm">
            <div class="flexcol detail-row">
                <label class="field-header">
                    {{localize "WOD5E.BiographyList.DateOfBirth"}}
                </label>
                <input
                    type="text"
                    name="system.bio.dateof.birth"
                    value="{{bio.dateof.birth}}" />
            </div>
            {{#ifeq currentActorType 'vampire'}}
                <div class="flexcol detail-row">
                    <label class="field-header">
                        {{localize "WOD5E.BiographyList.DateOfDeath"}}
                    </label>
                    <input
                        type="text"
                        name="system.bio.dateof.death"
                        value="{{bio.dateof.death}}" />
                </div>
            {{/ifeq}}
        </div>
        <div class="flexrow -gap-sm">
            <div class="flexcol detail-row">
                <label class="field-header">
                    {{localize "WOD5E.BiographyList.Appearance"}}
                </label>
                <prose-mirror
                    name="system.appearance"
                    value="{{appearance}}"
                    toggled="false"
                    compact="false">
                    {{{enrichedAppearance}}}
                </prose-mirror>
            </div>
        </div>
        <div class="flexrow -gap-sm">
            <div class="flexcol detail-row">
                <label class="field-header">
                    {{localize "WOD5E.BiographyList.Label"}}
                </label>
                <prose-mirror
                    name="system.biography"
                    value="{{biography}}"
                    toggled="false"
                    compact="false">
                    {{{enrichedBiography}}}
                </prose-mirror>
            </div>
        </div>
    </div>
    <div class="flexcol -gap-sm">
        <div class="subtle-header">
            <span>
                {{localize 'WOD5E.BiographyList.Beliefs'}}
            </span>
            <hr />
        </div>
        <div class="flexrow -gap-sm">
            {{> "systems/vtm5e/display/shared/actors/parts/touchstones-convictions.hbs"}}
            {{> "systems/vtm5e/display/shared/actors/parts/chronicle-tenets.hbs"}}
        </div>
        {{#if showAmbitionDesire}}
            <div class="flexrow -gap-sm">
                <div class="flexcol detail-row">
                    <label class="field-header">
                        {{localize "WOD5E.BiographyList.Ambition"}}
                    </label>
                    <input
                        type="text"
                        name="system.headers.ambition"
                        value="{{ambition}}"
                        placeholder="{{localize 'WOD5E.BiographyList.Ambition'}}" />
                </div>
                <div class="flexcol detail-row">
                    <label class="field-header">
                        {{localize "WOD5E.BiographyList.Desire"}}
                    </label>
                    <input
                        type="text"
                        name="system.headers.desire"
                        value="{{desire}}"
                        placeholder="{{localize 'WOD5E.BiographyList.Desire'}}" />
                </div>
            </div>
        {{/if}}
    </div>
</section>
