<div class="flexcol -gap-sm">
    <div class="flexrow -gap-xl">
        <div class="flexcol -gap-base">
            <div class="subtle-header">
                <div class="field-header">
                    {{localize "WOD5E.Merits"}}
                </div>
            </div>
            <div class="items-list">
                {{#each features as |feature key|}}
                    {{#each feature as |item key|}}
                        {{#if (or (eq item.system.featuretype "merit") (eq item.system.featuretype "flaw"))}}
                            <div class="item{{#if (eq item.system.featuretype "flaw")}} -flaw{{/if}}"
                                data-drag="true"
                                data-item-id="{{item.id}}"
                                data-document-uuid="{{item.uuid}}"
                                data-type="Item">
                                <div class="item-name">
                                    <span>{{item.name}}</span>
                                </div>
                                <div class="resource-value"
                                    data-value="{{item.system.points}}"
                                    data-name="items.{{item._id}}">
                                    {{#numLoop item.system.points}}
                                        <span class="resource-value-step"
                                            data-action="dotCounterChange"
                                            data-index="{{this}}"></span>
                                    {{/numLoop}}
                                </div>
                                <div class="item-controls">
                                    <a class="item-control item-chat"
                                        data-action="itemChat"
                                        data-item-id="{{item._id}}"
                                        title="{{localize 'WOD5E.ItemsList.ShowToChat'}}">
                                        <i class="fas fa-comment-alt"></i>
                                    </a>
                                    <a class="item-control item-edit"
                                        data-action="itemEdit"
                                        data-item-id="{{item._id}}"
                                        title="{{localize 'WOD5E.Edit'}}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="item-control item-delete"
                                        data-action="itemDelete"
                                        data-item-id="{{item._id}}"
                                        title="{{localize 'WOD5E.Delete'}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/each}}
            </div>
        </div>
        <div class="flexcol -gap-base">
            <div class="subtle-header">
                <div class="field-header">
                    {{localize "WOD5E.Backgrounds"}}
                </div>
            </div>
            <div class="items-list">
                {{#each features as |feature key|}}
                    {{#each feature as |item key|}}
                        {{#if (eq item.system.featuretype "background")}}
                            <div class="item"
                                data-drag="true"
                                data-item-id="{{item.id}}"
                                data-document-uuid="{{item.uuid}}"
                                data-type="Item">
                                <div class="item-name">
                                    <span>{{item.name}}</span>
                                </div>
                                <div class="resource-value"
                                    data-value="{{item.system.points}}"
                                    data-name="items.{{item._id}}">
                                    {{#numLoop item.system.points}}
                                        <span class="resource-value-step"
                                            data-action="dotCounterChange"
                                            data-index="{{this}}"></span>
                                    {{/numLoop}}
                                </div>
                                <div class="item-controls">
                                    <a class="item-control item-chat"
                                        data-action="itemChat"
                                        data-item-id="{{item._id}}"
                                        title="{{localize 'WOD5E.ItemsList.ShowToChat'}}">
                                        <i class="fas fa-comment-alt"></i>
                                    </a>
                                    <a class="item-control item-edit"
                                        data-action="itemEdit"
                                        data-item-id="{{item._id}}"
                                        title="{{localize 'WOD5E.Edit'}}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="item-control item-delete"
                                        data-action="itemDelete"
                                        data-item-id="{{item._id}}"
                                        title="{{localize 'WOD5E.Delete'}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="flexcol -boons">
        <div class="resource-label-fancy">
            <hr/ >
            <label class="resource-label">
                {{localize "WOD5E.Boons"}}
            </label>
            <hr/ >
        </div>
        <div class="items-list">
            {{#each features as |feature key|}}
                {{#each feature as |item key|}}
                    {{#if (eq item.system.featuretype "boon")}}
                        <div class="item"
                            data-drag="true"
                            data-item-id="{{item.id}}"
                            data-document-uuid="{{item.uuid}}"
                            data-type="Item">
                            <div class="item-name">
                                <span>{{item.name}}</span>
                            </div>
                            <div class="item-controls">
                                <a class="item-control item-chat"
                                    data-action="itemChat"
                                    data-item-id="{{item._id}}"
                                    title="{{localize 'WOD5E.ItemsList.ShowToChat'}}">
                                    <i class="fas fa-comment-alt"></i>
                                </a>
                                <a class="item-control item-edit"
                                    data-action="itemEdit"
                                    data-item-id="{{item._id}}"
                                    title="{{localize 'WOD5E.Edit'}}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="item-control item-delete"
                                    data-action="itemDelete"
                                    data-item-id="{{item._id}}"
                                    title="{{localize 'WOD5E.Delete'}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            {{/each}}
        </div>
    </div>
</div>
