<div class="flexcol -gap-sm">
    <div class="flexcol detail-row">
        <label class="resource-label field-header">{{localize "WOD5E.BiographyList.Concept"}}</label>
    <input type="text" name="system.headers.concept" value="{{concept}}" placeholder="{{localize 'WOD5E.BiographyList.Concept'}}" />
    </div>
    <div class="flexcol detail-row">
        <label class="field-header">
            {{localize "WOD5E.BiographyList.Chronicle"}}
        </label>
        <input
            type="text"
            name="system.headers.chronicle"
            value="{{chronicle}}"
            placeholder="{{localize 'WOD5E.BiographyList.Chronicle'}}" />
    </div>
</div>
