<section class="tab {{tab.cssClass}}"
    data-tab="{{tab.id}}"
    data-group="{{tab.group}}">
    <div class="flexcol">
        <div class="flexcol -gap-sm">
            <div class="flexcol">
                <div class="resource-label-fancy">
                    <hr/ >
                    <label class="resource-label">
                        {{localize "WOD5E.Experience.Label"}}
                    </label>
                    <hr/ >
                </div>
                <div class="flexrow -gap-sm">
                    <div class="flexcol detail-row">
                        <div class="field-header">
                            {{localize "WOD5E.Experience.Remaining"}}
                        </div>
                        <input
                            name="system.derivedXP.remainingXP"
                            type="number"
                            value="{{derivedXP.remainingXP}}"
                            disabled />
                    </div>
                    <div class="flexcol  detail-row">
                        <div class="field-header">
                            {{localize "WOD5E.Experience.Total"}}
                        </div>
                        <input
                            name="system.derivedXP.totalXP"
                            type="number"
                            value="{{derivedXP.totalXP}}"
                            disabled />
                    </div>
                </div>
            </div>
            <div class="flexrow -gap-sm">
                <button
                    data-action="addExperience"
                    data-operation="add">
                    {{localize "WOD5E.Experience.AddExperience"}}
                </button>
                <button
                    data-action="addExperience"
                    data-operation="spend">
                    {{localize "WOD5E.Experience.SpendExperience"}}
                </button>
            </div>
        </div>
        <div class="flexcol">
            <div class="resource-label-fancy">
                <hr/ >
                <label class="resource-label">
                    {{localize "WOD5E.Experience.History"}}
                </label>
                <hr/ >
            </div>
            <div class="items-list">
                {{#each experiences as |experience key|}}
                    <div class="item{{#ifgr experience.value 0}} experience-gain{{/ifgr}}{{#ifless experience.value 0}} experience-spend{{/ifless}}">
                        <div class="item-name">
                            {{experience.name}}
                        </div>
                        <div class="item-level">
                            {{experience.value}}
                        </div>
                        <div class="item-controls">
                            <!-- Icon to edit the perk-->
                            <a class="item-control"
                                data-action="editExperience"
                                title="{{localize 'WOD5E.Edit'}}"
                                data-experience-id="{{experience.id}}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <!-- Icon to delete the perk -->
                            <a class="item-control"
                                data-action="removeExperience"
                                title="{{localize 'WOD5E.Delete'}}"
                                data-experience-id="{{experience.id}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>
