<section class="tab {{tab.cssClass}}"
    data-tab="{{tab.id}}"
    data-group="{{tab.group}}">
    <div class="flexrow -gap-sm">
        <div class="flexcol detail-row">
            <label class="field-header">
                {{localize "WOD5E.Tabs.PublicNotes"}}
            </label>
            <prose-mirror
                name="system.notes"
                value="{{notes}}"
                toggled="true"
                compact="true">
                    {{{enrichedNotes}}}
            </prose-mirror>
        </div>
        {{#if isOwner}}
            <div class="flexcol detail-row">
                <label class="field-header">
                    {{#ifeq baseActorType 'group'}}
                        {{localize "WOD5E.Tabs.StorytellerNotes"}}
                    {{else}}
                        {{localize "WOD5E.Tabs.PrivateNotes"}}
                    {{/ifeq}}
                </label>
                <prose-mirror
                    name="system.privatenotes"
                    value="{{privatenotes}}"
                    toggled="true"
                    compact="true">
                        {{{enrichedPrivateNotes}}}
                </prose-mirror>
            </div>
        {{/if}}
    </div>
</section>
