<div class="flexrow -gap-sm">
    <div class="flexcol detail-row">
        <label class="field-header">
            {{#ifeq gamesystem 'vampire'}}
                {{localize "WOD5E.BiographyList.TouchstonesAndConvictions"}}
            {{else}}
                {{localize "WOD5E.BiographyList.Touchstones"}}
            {{/ifeq}}
        </label>
        <prose-mirror
            name="system.headers.touchstones"
            value="{{touchstones}}"
            toggled="true"
            compact="true">
            {{{enrichedTouchstones}}}
        </prose-mirror>
    </div>
</div>
