<div class="resource willpower">
    <div class="flexrow">
        <i class="fas fa-minus resource-control resource-minus"
            data-action="resourceChange"
            data-resource="willpower"
            data-resource-action="minus"></i>
        <label class="resource-label system-rollable"
            for="willpower"
            data-action="willpowerRoll"
            title="{{localize 'WOD5E.Chat.RollWillpower'}}">
            {{localize "WOD5E.Willpower"}}
        </label>
        <i class="fas fa-plus resource-control resource-plus"
            data-action="resourceChange"
            data-resource="willpower"
            data-resource-action="plus"></i>
    </div>
    <div class="flexrow resource-content">
        <div class="resource-counter editable"
            data-states="/:superficial,x:aggravated"
            data-max="{{willpower.max}}"
            data-superficial="{{willpower.superficial}}"
            data-aggravated="{{willpower.aggravated}}"
            data-name="system.willpower">
            {{#numLoop willpower.max}}
                <span class="resource-counter-step"
                    data-action="squareCounterChange"
                    data-index="{{this}}"
                    data-state=""></span>
            {{/numLoop}}
        </div>
    </div>
</div>
