<header class="item-header">
    <div class="header-fields">
        <input class="itemname"
            name="name"
            type="text"
            value="{{name}}"
            placeholder="{{localize 'WOD5E.Name'}}"/>
        <div class="flexrow -gap-base">
            <div class="form-group stacked">
                <label>
                    {{localize "WOD5E.Level"}}
                </label>
                <div class="form-fields">
                    <input
                        name="system.level"
                        value="{{level}}"
                        type="number"
                        min="0"
                        max="5"/>
                </div>
            </div>
            <div class="form-group stacked">
                <label>
                    {{localize 'WOD5E.ItemsList.Cost'}}
                </label>
                <div class="form-fields">
                    <input name="system.cost" type="number" value="{{cost}}" placeholder="0"/>
                </div>
            </div>
            <div class="form-group stacked">
                <label>
                    {{localize "WOD5E.VTM.DisciplineType"}}
                </label>
                <div class="form-fields">
                    <select name="system.discipline" data-type="String">
                        {{selectOptions disciplineOptions selected=selectedDiscipline localize=true}}
                    </select>
                </div>
            </div>
        </div>
    </div>
</header>
