<header class="item-header">
    <div class="header-fields">
        <input class="itemname"
            name="name"
            type="text"
            value="{{name}}"
            placeholder="{{localize 'WOD5E.Name'}}"/>
        <div class="flexrow -gap-sm">
            <div class="form-group stacked">
                <label>
                    {{localize "WOD5E.ItemsList.Points"}}
                </label>
                <div class="form-fields">
                    <input
                        name="system.points"
                        value="{{points}}"
                        type="number"
                        min="0"
                        max="5"/>
                </div>
            </div>
            {{#if uses.enabled}}
                <div class="form-group stacked">
                    <label>
                        {{localize "WOD5E.ItemsList.UsesRemaining"}}
                    </label>
                    <div class="form-fields">
                        <input
                            name="system.uses.current"
                            value="{{uses.current}}"
                            type="number"
                            min="0"
                            max="{{uses.max}}"/>
                    </div>
                </div>
            {{/if}}
            <div class="form-group stacked">
                <label>
                    {{localize "WOD5E.ItemsList.FeatureType"}}
                </label>
                <div class="form-fields">
                    <select
                        name="system.featuretype"
                        data-type="String">
                        {{selectOptions featureTypeOptions selected=featureTypeSelected localize=true}}
                    </select>
                </div>
            </div>
        </div>
    </div>
</header>
