<section class="tab {{tab.cssClass}}"
    data-tab="{{tab.id}}"
    data-group="{{tab.group}}">
    {{#if (isNotEmpty dicepool)}}
        {{#each dicepool as |dice key|}}
            <div class="form-group">
                <div class="flexrow -gap-sm form-fields">
                    <select name="system.dicepool.{{key}}.path">
                        {{selectOptions ../diceOptions selected=dice.path}}
                    </select>
                    <a class="flex0 item-control remove-dice"
                        data-action="removeDice"
                        data-dice-id="{{key}}"
                        title="{{localize 'WOD5E.Delete'}}">
                        <i class="fa-solid fa-x"></i>
                    </a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="form-group">
            <label>{{localize "WOD5E.ItemsList.NoDiceSelectedHint"}}</label>
        </div>
    {{/if}}
    <hr>
    <button
        class="add-dice"
        data-action="addDice">
        {{localize "WOD5E.ItemsList.AddDice"}}
    </button>
</section>
