<section class="tab {{tab.cssClass}}"
    data-tab="{{tab.id}}"
    data-group="{{tab.group}}">
    <h3 class="flexrow -gap-sm form-header">
        <span>
            {{localize 'WOD5E.Modifier.FlatModifier'}}
        </span>
        <a class="flex0"
            data-action="addEffect"
            data-type="flatModifier">
            <i class="fas fa-plus"></i>
        </a>
    </h3>
    <div class="effects-list">
        {{#each effects.flatModifier as |effect key|}}
            <div class="flexcol effect" data-effect-id="{{effect.id}}">
                <div class="form-group">
                    <label class="label">{{localize 'WOD5E.Modifier.FlatModifierSource'}}</label>
                    <div class="form-fields">
                        <input class="effectKeys"
                            type="text"
                            value="{{splitArray effect.keys}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label">{{localize 'WOD5E.Modifier.Mode'}}</label>
                    <div class="form-fields">
                        <input
                            name="system.effects.{{effect.id}}.intValue"
                            type="number"
                            value="{{effect.intValue}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label">Flat Modifier Source</label>
                    <div class="form-fields">
                        <select
                            name="system.effects.{{effect.id}}.flatSource"
                            data-type="String">
                            {{selectOptions ../flatSourceOptions selected=effect.flatSource localize=true}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label">Mode</label>
                    <div class="form-fields">
                        <select
                            name="system.effects.{{effect.id}}.mode"
                            data-type="String">
                            {{selectOptions ../modeOptions selected=effect.mode localize=true}}
                        </select>
                    </div>
                </div>
                <button
                    data-action="removeEffect"
                    data-effect-id="{{effect.id}}">
                    {{localize 'WOD5E.Modifier.RemoveEffect'}}
                </button>
            </div>
        {{/each}}
    </div>
</section>
