<div class="modifier">
    <div class="form-group">
        <div class="form-fields">
            <input id="modifierSource"
                type="text"
                value="{{bonus.source}}"
                placeholder="{{localize 'WOD5E.Modifier.NewModifier'}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "WOD5E.Value"}}</label>
        <div class="form-fields">
            <input id="modifierValue"
                type="number"
                value="{{bonus.value}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "WOD5E.Modifier.Unless"}}</label>
        <div class="form-fields">
            <input
                id="unless"
                type="text"
                value="{{bonus.unless}}"
                placeholder="{{localize 'WOD5E.Modifier.Unless'}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "WOD5E.Modifier.DisplayWhenInactive"}}</label>
        <div class="form-fields">
            <input
                id="displayModifierWhenInactive"
                type="checkbox"{{#if bonus.displayWhenInactive}} checked{{/if}} />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "WOD5E.Modifier.ActiveWhen"}}</label>
        <div class="form-fields">
            <select id="activeWhenCheck">
                <option value="never"{{#ifeq bonus.activeWhen.check "never"}} selected{{/ifeq}}>{{localize "WOD5E.Modifier.Never"}}</option>
                <option value="always"{{#ifeq bonus.activeWhen.check "always"}} selected{{/ifeq}}>{{localize "WOD5E.Modifier.Always"}}</option>
                <option value="isEqual"{{#ifeq bonus.activeWhen.check "isEqual"}} selected{{/ifeq}}>{{localize "WOD5E.Modifier.IfEquals"}}</option>
                <option value="isPath"{{#ifeq bonus.activeWhen.check "isPath"}} selected{{/ifeq}}>{{localize "WOD5E.Modifier.IfPathIs"}}</option>
            </select>
        </div>
    </div>
    <div class="form-group"
        style="{{#ifeq bonus.activeWhen.check 'isEqual'}}visibility: visible;{{else}}{{#ifeq bonus.activeWhen.check 'isPath'}}visibility: visible;{{else}}visibility: hidden;{{/ifeq}}{{/ifeq}}">
        <label>{{localize "WOD5E.Modifier.PathToCheck"}}</label>
        <div class="form-fields">
            <input
                id="activeWhenPath"
                type="text"
                value="{{bonus.activeWhen.path}}"
                placeholder="{{localize 'WOD5E.Modifier.PathToCheck'}}"/>
        </div>
    </div>
    <div class="form-group"
        style="{{#ifeq bonus.activeWhen.check 'isEqual'}}visibility: visible;{{else}}visibility: hidden;{{/ifeq}}">
        <label>{{localize "WOD5E.Modifier.ValueToCheck"}}</label>
        <div class="form-fields">
            <input
                id="activeWhenValue"
                type="text"
                value="{{bonus.activeWhen.value}}"
                placeholder="{{localize 'WOD5E.Modifier.ValueToCheck'}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "WOD5E.Modifier.Selectors"}}</label>
        <div class="form-fields">
            <input class="modifier-selectors"
                id="modifier"
                type="text"
                value="{{splitArray bonus.paths}}"
                placeholder="{{localize 'WOD5E.None'}}"/>
        </div>
    </div>
</div>
