<section class="tab {{tab.cssClass}}"
    data-tab="{{tab.id}}"
    data-group="{{tab.group}}">
    <div class="form-group">
        <label>
            {{localize "WOD5E.WTA.GiftType"}}
        </label>
        <div class="form-fields">
            <select
                name="system.giftType"
                data-type="String">
                {{selectOptions giftOptions selected=selectedGift localize=true}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>
            {{localize "WOD5E.WTA.Renown"}}
        </label>
        <div class="form-fields">
            <select
                name="system.renown"
                data-type="String">
                {{selectOptions renownOptions selected=selectedRenown localize=true}}
            </select>
        </div>
    </div>
    {{> "systems/vtm5e/display/shared/items/parts/data-item-id.hbs"}}
</section>
