<section class="tab {{tab.cssClass}}"
    data-tab="{{tab.id}}"
    data-group="{{tab.group}}">
    <div class="form-group">
        <label>
            {{localize 'WOD5E.HTR.SuggestedEdges'}}
        </label>
        <div class="form-fields">
            <input
                type="text"
                name="system.edges"
                value="{{edges}}"
                placeholder="{{localize 'WOD5E.HTR.SuggestedEdges'}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>
            {{localize 'WOD5E.HTR.SuggestedDrives'}}
        </label>
        <div class="form-fields">
            <input
                type="text"
                name="system.drives"
                value="{{drives}}"
                placeholder="{{localize 'WOD5E.HTR.SuggestedDrives'}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>
            {{localize 'WOD5E.HTR.DesperationDiceFields'}}
        </label>
        <div class="form-fields">
            <input
                type="text"
                name="system.desperationFields"
                value="{{desperationFields}}"
                placeholder="{{localize 'WOD5E.HTR.DesperationDiceFields'}}"/>
        </div>
    </div>
</section>
