<section class="tab {{tab.cssClass}}"
    data-tab="{{tab.id}}"
    data-group="{{tab.group}}">
    <div class="form-group">
        <label>
            {{localize 'WOD5E.HTR.Redemption'}}
        </label>
        <div class="form-fields">
            <input
                type="text"
                name="system.redemption"
                value="{{redemption}}"
                placeholder="{{localize 'WOD5E.HTR.Redemption'}}"/>
        </div>
    </div>
</section>
